.settings-content {
    display: flex;
    width: 350px;
    height: 600px;

    &__left-border {
        width: 30px;
        height: calc(100% - 50px);
        background-color: rgba(0, 0, 0, 0.7490196078431373);
        border-right: 1px solid rgba(255, 255, 255, 0.77);;
    }

    &__content {
        background-color: rgba(0, 0, 0, 0.79);
        width: 100%;
        height: calc(100% - 50px);
    }

    &__values {
        height: 390px;
        overflow: auto;

        &::-webkit-scrollbar
        {
            width: 8px;
            border-radius: 5px;
        }
        &::-webkit-scrollbar-track
        {
            background-color: rgba(255, 255, 255, 0.247);
            border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb
        {
            border-radius: 5px;
            background-color: rgb(0, 151, 167);
        }

        &_dismiss-events {
            input {
                pointer-events:none !important;
            }
        }
    }

    &__value {
        padding: 6px;
    }
}