.settings-search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    margin-bottom: 10px;

    &__icon {
        margin: 0px 12px;
    }

    &__search-type {
        width: 100%;
        border-bottom: 2px solid white;
    }
}